server {
    listen 80;
    server_name pg.example.org;
    root /home/vagrant/pg4grafana/web;
    index app.php;

    location / {
        try_files $uri $uri/ @rewrite;
    }

    location @rewrite {
        rewrite ^/(.*)$ /app.php/$1;
    }

    location ~ \.php(/|$) {
        include /etc/nginx/fastcgi.conf;
        fastcgi_pass unix:/run/php/php7.0-fpm.vagrant.sock;
    }
}
